
a {
    background-size: 100%;
    background-image: url("../images/Imagens_DrPapel/3D/FloresHeader.jpg");
    background-repeat: no-repeat !important;
    background-position-y: 40% !important;
}



.header.container {
    display: grid;
     margin: 0 !important; 
    --bs-gutter-x: 0rem !important;
    --bs-gutter-y: 0rem !important;

}


.logo {
    display: grid !important;
    justify-content: center;
    width: 10%;
    margin: 1vw auto 2.5vw auto;
   
}    

.logo-txt {
    display: flex;
    max-width: 10vw !important;
}

.navbar {
    display: flexbox !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: center !important;
    --bs-navbar-padding-y: 0 !important;
    margin: 0.5vw !important;
    width: 100vw !important;
    background: linear-gradient(135deg, LavenderBlush 50%, LightCyan) !important;

}

.navbar-nav {
    display: flex !important;
    justify-content: space-between !important;

}



.img-thumbnail{
    display: flex !important;
    margin: 0 !important;
    padding: 0 !important;
  /*   width: 180vh !important; */
  

}




.nav-item {
    display: flex !important;
    justify-content: space-around !important;
    font-size: 1.2vw;

    padding: 0 !important;
    margin: 0 !important;
    --bs-navbar-padding-y: 0 !important;
    --bs-navbar-padding-x: 0 !important;

}

.container-main {
    display: flex !important;
    justify-content: center;
  /*   margin-top: 10vh; */
    width: 100vw !important;
    margin: 0;
    padding: 0;
}


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0rem !important;
        --bs-gutter-y: 0rem !important;
}

.collapse.navbar-collapse {
    margin-left: 0vw;
}



.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
}



@media screen and (max-width:576px) {

    .logo {
        display: grid !important;
        justify-content: center;
        width: 25%;
        margin: 1vw auto 1vw auto;
    }    

    .nav-item {
        display: flex !important;
        justify-content: space-around !important;
        font-size: 3.5vw;
    
        padding: 0 !important;
        margin: 0 !important;
        --bs-navbar-padding-y: 0 !important;
        --bs-navbar-padding-x: 0 !important;
    
    }

    .navbar {
        width: 60vw !important;
        height: 10vw !important;
    }

    .navbar {
        height: 10vw !important;
    }

   
}
